.app {
  width: calc(100vw - 40px);
  height: 100%;

  overflow: hidden;
}

.app__title {
  text-align: center;
}

.app__label {
  text-align: center;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;
}

.app__modal {
  width: 100%;
}